@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OperationResourceViewModel

@{
    ViewBag.Title = "Создание ресурса";
}

<h2>@(Model.ResourceType == "Direction" ? "Создание направления" : "Создание проекта")</h2>

@if (Model.Errors != null)
{
    <div class="alert alert-danger">@Model.Errors</div>
}

@if (Model.Success != null)
{
    <div class="alert alert-success">@Model.Success</div>
}

<form asp-action="Operate" method="post" id="createResourceForm">
    <div class="mb-3">
        <label for="traineeId" class="form-label">Выберите стажера</label>
        <select class="form-select" id="traineeId" name="traineeId">
            <option value="">Не выбирать</option>
            @foreach (var trainee in Model.Trainees)
            {
                <option value="@trainee.Id">@trainee.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="resourceName">
            @(Model.ResourceType == "Direction" ? "Направление стажировки" : "Название проекта")
        </label>
        <input type="text" id="resourceName" name="resourceName" class="form-control mt-2"
               placeholder="@(Model.ResourceType == "Direction" ? "Введите направление стажировки" : "Введите название проекта")"/>
    </div>

    <input type="hidden" id="resourceType" name="resourceType" value="@Model.ResourceType"/>
    <input type="hidden" id="traineeId" name="traineeId" value=""/>

    <input type="hidden" id="resourceId" name="resourceId"/>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>

<script>
    async function postData(url, data) {
        let response = await fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        });
        return response;
    }

    document.querySelector("#createResourceForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        var newResource = document.getElementById("resourceName").value.trim();
        var resourceType = "@Model.ResourceType";

        if (!newResource) {
            alert("Введите @(Model.ResourceType == "Direction" ? "направление стажировки" : "проект для стажировки")!");
            return;
        }


        let url = '';
        if (resourceType === "Direction") {
            url = '/CreateNewResource/AddInternshipDirection';
        } else if (resourceType === "Project") {
            url = '/CreateNewResource/AddCurrentProject';
        }


        try {
            let response = await postData(url, newResource);

            if (response.ok) {
                const resource = await response.json();

                document.getElementById("resourceId").value = resource.id;

                this.submit();
            } else {
                alert("Ошибка при добавлении ресурса");
            }
        } catch (error) {
            alert("Ошибка при обращении к серверу");
        }
    });
</script>
