@model OperationResourceViewModel

@{
    ViewData["Title"] = Model.ResourceType == "Direction" ? "Изменение названия направления" : "Изменение названия проекта";
}

<h2>@(Model.ResourceType == "Direction" ? "Удаление направления" : "Удаление проекта")</h2>

@if (!string.IsNullOrEmpty(Model.Errors))
{
    <div class="alert alert-danger">@Model.Errors</div>
}

@if (!string.IsNullOrEmpty(Model.Success))
{
    <div class="alert alert-success">@Model.Success</div>
}

<form method="post" asp-action="Edit">
    <div class="mb-3">
        <label for="resourceId" class="form-label">
            @(Model.ResourceType == "Direction" ? "Выберите направление" : "Выберите проект")
        </label>
        <select class="form-select" id="resourceId" name="id">
            <option value="">@(Model.ResourceType == "Direction" ? "Выберите направление" : "Выберите проект")</option>
            @if (Model.ResourceType == "Direction")
            {
                @foreach (var direction in Model.Directions)
                {
                    <option value="@direction.Id">@direction.Name</option>
                }
            }
            else
            {
                @foreach (var project in Model.Projects)
                {
                    <option value="@project.Id">@project.Name</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="resourceId" class="form-label">
            @(Model.ResourceType == "Direction" ? "Введите новое название направления" : "Введите новое названи проекта")
        </label>
        <input type="text" id="newName" name="newName" class="form-control mt-2"
               placeholder="@(Model.ResourceType == "Direction" ? "Введите направление стажировки" : "Введите название проекта")"/>
    </div>

    <input type="hidden" id="resourceType" name="resourceType" value="@Model.ResourceType"/>
    <button type="submit" class="btn btn-success">Применить</button>
</form>